
.nav {
    background: green;
    justify-content: space-between;
    padding: 0 3rem 0 3rem;
}
.nav , nav ul{
    display: flex;
    color: white;
}

li {
    list-style-type: none;
    margin: 10px;
}

li a {
    text-decoration: none;
    color: white;
}